section.noivos {
  margin: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aee {
  margin-top: 2rem;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eea {
  border-radius: 50%;
}

.titleNoivos h1, .aee h1 {
  font-family: 'Dancing Script';
}

.textAbout {
  margin-top: 2rem;
  width: 80vw;
  text-align: center;
}