section.present-list {
  margin: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.present-list h1,
a {
  margin-bottom: 1rem;
}

.money {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.money div {
  text-align: center;
  padding: 1rem;
}

.money div h2 {
  margin-bottom: 1.2rem;
}

.money div h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
  color: initial;

}

.money-image {
  border-radius: 40%;
}

.pix {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


section.cerimonia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.cerimonia h1 {
  padding: 1rem 0;
}

.cerimonia p {
  padding: 1rem 0;
}


@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype'),
    url('/fonts/Quicksand-Bold.ttf'),
    url('/fonts/Quicksand-Medium.ttf'),
    url('/fonts/Quicksand-Light.ttf'),
    url('/fonts/Quicksand-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-Regular.ttf') format('truetype'),
    url('/fonts/DancingScript-Bold.ttf') format('truetype'),
    url('/fonts/DancingScript-Medium.ttf') format('truetype'),
    url('/fonts/DancingScript-SemiBold.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Quicksand';
}

body {
  background-color: rgba(191, 215, 233, 0.3)
}