@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype'),
    url('/fonts/Quicksand-Bold.ttf'),
    url('/fonts/Quicksand-Medium.ttf'),
    url('/fonts/Quicksand-Light.ttf'),
    url('/fonts/Quicksand-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-Regular.ttf') format('truetype'),
    url('/fonts/DancingScript-Bold.ttf') format('truetype'),
    url('/fonts/DancingScript-Medium.ttf') format('truetype'),
    url('/fonts/DancingScript-SemiBold.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Quicksand';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}
