section.presentList {
  margin: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentList h1,
.presentList a {
  margin-bottom: 1rem;
}

.money {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.money div {
  text-align: center;
  padding: 1rem;
}

.money div h2 {
  margin-bottom: 1.2rem;
}

.money div h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
  color: initial;

}

.moneyImage {
  border-radius: 40%;
}

.value {
  color: #545454;
  font-size: xx-large;
}

.pix {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pix h2 {
  font-size: xx-large;
}