section.presentList {
  margin: 1rem auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listaDePresentes {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid rgb(223, 215, 215);
  font-weight: 700;
  color: black;
}

.listaDePresentes:hover {
  background-color: rgba(137, 107, 73, 0.3);
  transition: all 0.7s;
}

.presentList a {
  text-decoration: none;
}

.presentList h1,
.presentList a {
  margin-bottom: 1rem;
  text-align: center;
}

.money {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.money div {
  text-align: center;
  padding: 1rem;
}

.money div h2 {
  margin-bottom: 1.2rem;
}

.money div h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
  color: initial;

}

.moneyImage {
  border-radius: 40%;
}

.value {
  color: #545454;
  font-size: xx-large;
  text-align: center;
}

.pix {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pix h2 {
  font-size: xx-large;
}

.qrCode {
 margin: 2rem 0;
 text-align: center;
}

.qrCode h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .money {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 667px) {
  .money {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .moneyImage{
  width: 250px;
  height: 250px;

  }
  .pix {
    flex-direction: column;
  }
  
  .qrCodePix {
    width: 250px;
    height: 250px;
  }
}